{% if paginator.next_page or paginator.previous_page %}
<div class="paginator">
  <div class="paginator-newer">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/">Nuevos</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Nuevos</a>
      {% endif %}
    {% else %}
      Nuevos
    {% endif %}
  </div>
  <div class="paginator-older">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Antiguos</a>
    {% else %}
      Antiguos
    {% endif %}
  </div>
</div>
{% endif %}
